.cart-products__list__item {
    padding: 10px;

    &-caculator {
        button {
            margin-right    : 15px;
            padding         : 0px 13px;
            font-size       : 16px;
            border          : none;
            background-color: #ffafaf;
            border-radius   : 4px;
            cursor          : pointer;
        }
    }

    .cart-products__item {
        display   : flex;
        margin-top: 20px;

        &__image {
            width: 100px;

            img {

                border : 1px solid #ddd;
                padding: 5px;
            }
        }

        &__content {
            margin-left: 20px;

            h4 {
                font-size    : 25px;
                text-overflow: ellipsis;
                overflow     : hidden;
                white-space  : nowrap;
                width        : 400px;
                color        : black;
            }
        }

        &__subcontent {
            margin-top: 50px;

            span {
                margin-right: 50px;
            }

            span:nth-child(2) {
                color: red;
            }
        }

    }
}

.cart-products__list__item:hover {
    background-color: #f5f5f5;
}